.card__delete-button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19.3px;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/delete_button.svg);
  background-size: 18px 19.3px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}
